*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root{
  display: block;
  margin: 0 auto;
  background-color: #EAEAEA;
  width: fit-content;
}

.container{
  padding: 0 2rem 0 2rem;
  margin: .5rem 0 0 0;
}

.comments{
  font-size: .8rem;
  margin: .5rem 0 0 0;
}