button{
    font-size: 1rem;
    color: #fff;
    background-color: #121212;
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
    border-radius: .5rem;
    padding: .75em 1.25em;
    margin-top: 2rem;
    transition: .3s;
}

button:hover{
    cursor: pointer;
    margin-left: .5rem
}