*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 80px;
    padding: 10px 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 45px;
    width: auto;
}

.list-button{
    display: flex;
    gap: 0 10px;
}

.list-button button{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: .6s;
}

.list-button button:hover{
    border-color: red;
}