form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .85rem;
    border-radius: 6px;
  }
  
  form label{
    font-size: 0.9rem;
  }
  
  form h1{
    font-size: 1.3rem;
  }

  form textarea{
    height: 6rem;
    resize: none;
  }
  
  form button{
    padding: .5rem 0 .5rem 0;
  }